.sticky {
	position: fixed !important;
	top: 30px;
	/* left: 0;
	right: 0; */
	z-index: 1000; /* Adjust as necessary */
	background-color: rgb(0, 0, 0); /* Adjust as necessary */
	padding: 10px; /* Adjust as necessary */
}
